*{padding: 0;
margin: 0;
box-sizing: border-box;}


.wp{position: fixed;
bottom:50px;
right: 50px;
height: 40px;}

body{ background-color: #E8F1F1;
    }


header {background-color: white;
background-image: url(../imagenes/logoMarcaTucuman.svg);
background-repeat: no-repeat;
background-position: left top;
height: 15vh;
color: #9BC448;
display: flex;
align-items: center;
justify-content: center;}



.nav-header{display: flex;
justify-content: space-evenly;
height: 5vh;
background-color: bisque;
align-items: center;
}
.nav-header>a{color: black;
text-decoration: none;}

main{
  min-height: 70vh;
}
.intro{display: flex;
flex-direction: column;
align-items: center;
gap:12px;
padding-top: 5px;
margin-bottom: 50px;
padding: 10px;}
.imagencentrada{width: 100%;}

.receta{display: flex;
justify-content: space-between;}
.receta li{margin-left: 22px;}
.preparacion{display: flex;
  flex-direction: column;
  width: 60%;
gap:16px;
padding-left: 12px;}

.Ingredientes{width: 20%;
display: flex;
flex-direction: column;
gap:16px;}

.enlaces{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap:30px;
}

footer{display: flex;
height: 10vh;
background-color: black;
color:white;}
.piedepagina{display: flex;
  width: 40%;
align-items: center;
justify-content: left;}
.redes{width: 40%;
  display: flex;
justify-content: space-around;
align-items: center;}
.ico{width: 40px;}
